<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Poiret+One|Raleway:700" rel="stylesheet">
    <%include ../../partials/stylesheet %>
    <%include ../../partials/outindexcss %>
    <% include ../../partials/meta %>

</head>
<body>
    <% include ../../partials/nav_backdoor %>
    <div class="container">
        <div class="page-header">
            <h1><a class="text-dark" href="/backdoor/delete">Delete Page</a></h1>
        </div>
        <div >
            <div >
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Title</th>
                        <th>password</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <%if(contents.length>0){%>
                <%contents.forEach(function(item){%>
                <tr>
                    <td class="number"><%=item.number%></td>
                    <td class="title"><a href="/show?id=<%=item.title%>"><%=item.title%></a></td>
                    <td class="password"><%=item.password%></td>
                    <td class="delete"><button id="delete" class="btn btn-light" type="button" onclick="del('<%= escape(item.title) %>')">Delete</button></td>
                </tr>
                <%})%>
                <%} else {%>
                <tr>
                    <td colspan="5">게시물이 없습니다.</td>
                </tr>
                <%}%>
                </tbody>
            </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <%
                    for(var i=1; i<=pagination; i++){
                    %>
                    <li class="page-item"><a class="page-link" href="/backdoor/delete?page=<%=i%>"><%=i%></a></li>
                     <%}%>
                </ul>
            </nav>
        </div>
    </div>

    <% include ../../partials/footer %>
    <% include ../../partials/javascript %>
    <% include ../../partials/swal %>

    <script>
    
    var deleted = (path) => {
        $.post('/delete',{title:path}).done(response => {
            if(response.status == 'success'){
                swal({
                    title: "Deleted!",
                    text: "You deleted the document!",
                    icon: "success",
                    //timer: 700,
                }).then(
                    () => location.replace("/backdoor/delete")
                )                
            };
            if(response.status == 'fail'){
                swal({
                    title:"Don't do that!",
                    text: "You can't delete this document!",
                    icon: "error"

                })
            }
        });
    }

    var del = (title) => {
        var path = unescape(title); //onClick=del('<%=page.title%>')로 할 시, '를 escape하지 못하는 문제 때문에 escape으로 감싸줘야 함
        swal({ 
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this document data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            })
        .then((willDelete) => {
            if (willDelete) {
                return deleted(path);
            } else {
                swal("Your document data is safe!");
            };
        })
    }

    </script>
    <script>
      $(document).ready(function(){
        $(window).bind('scroll', function() {
        var navHeight = $( window ).height() - 70;
          if ($(window).scrollTop() > navHeight) {
            $('nav').addClass('fixed');
          }
          else {
            $('nav').removeClass('fixed');
          }
        });
      });
    </script>
</body>
</html>
