<!DOCTYPE HTML>

<html>
<head>
    <title><%= title %></title>
    <%include ../partials/stylesheet %>
    <% include ../partials/ck %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="container">
        <div class="page-header">
            <h1>Door ISWIKI</h1>
        </div>
        <div class="notice">
            <!--에디터와 동일. 단 타이틀이 notice-->
            <button id="edit" class="btn btn-primary" onclick="edit()" type="button">Edit</button>
            <button id="submit" class="btn btn-primary" onclick="submit()" type="button">Submit</button>
            <div id="editor">
                <!--ejs변수가 들어가 있어서, db에서 title이 notice인 data를 render시 끌어와야함// create page에는 필요가 없고, index page에는 필요함.-->
                <%- data %>
            </div>
        </div>
        <div class="recent-changes">
            <div class="page-header">
                <h3>Recent Changes</h3>
            </div>
            <!--동적으로 recent-changes control-->
            <!--recent-changes라는 테이블 (즉 title에 관계없이 시간순으로 정렬된 모든 위키)이 필요할듯.-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                <%if(contents.length>0){%>
                    <%var i = 0;%>
                    <%contents.forEach(function(item){%>
                    <%i++;%>
                    <tr>
                        <td class="number"><%=i%></td>
                        <td class="title"><a href="/show?id=<%=item.title%>"><%=item.title%></a></td>
                        <td class="date"><%=item.date%></td>
                        <td class="date"></td>
                    </tr>
                    <%})%>
                    <%} else {%>
                    <tr>
                        <td colspan="5">게시물이 없습니다.</td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">

    var edit = function(){
        BalloonEditor
           .create( document.querySelector( '#editor' ) )
           .then( editor => {
                theEditor = editor;
           })
           .catch( error => {
                console.error( error );
           });
            function getDataFromTheEditor() {
               return theEditor.getData();
           };
    };
    var submit = function(){
        var contents = theEditor.getData();
        var title = $("#editor h2").text();
        console.log(contents);
        console.log(title);
        $.ajax({
            url: '/',
            type: 'post',
            data: {"contents": contents, "title": title},
            dataType: 'JSON',
            success: function(result) //result객체 반환 되는거 봐야함.
            {
                console.log(result);
                if ( result.status == 1 ) {
                    theEditor.destroy()
                        .catch( error => {
                            console.log( error);
                        } );
                    //controller render로 처리.
                } else {
                }
            }
         })
    };
    </script>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>

</body>
</html>
