<!DOCTYPE HTML>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125748467-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125748467-1');
    </script>

    <title>중앙대 산업보안학과 위키</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="중앙대학교 산업보안학과" />
    <meta name="keyword" content="중앙,중앙대,중대,중앙대학교,산보,산업보안,보안,사이버보안,정보보안,정보보호,융합보안,산업보안학과,공식,위키"/>
    <meta name="description" content="안녕하세요. 중앙대학교 산업보안학과 공식 위키 입니다." />
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Poiret+One|Raleway:700" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <% include ../partials/indexcss %>
    <% include ../partials/meta %>

</head>
<body>
    <% include ../partials/indexnav %>
    <div class="container">
        <div class="page-header">
            <h1>산업보안학과 위키</h1>
        </div>
        <div class="recent-changes">
            <div class="page-header">
                <h3>Recent Changes</h3>
            </div>
            <!--동적으로 recent-changes control-->
            <!--recent-changes라는 테이블 (즉 title에 관계없이 시간순으로 정렬된 모든 위키)이 필요할듯.-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                <%if(contents.length>0){%>
                    <%var i = 0;%>
                    <%contents.forEach(function(item){%>
                    <%i++;%>
                    <%if(i>10) return %>
                    <tr>
                        <td class="number"><%=item.number%></td>
                        <td class="title"><a href="/show?id=<%=item.title%>"><%=item.title%></a></td>
                        <td class="date"><%=item.date%></td>
                    </tr>
                    <%})%>
                    <%} else {%>
                    <tr>
                        <td colspan="5">게시물이 없습니다.</td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = 'http://issl.wiki';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = 'INDEX'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://issl-wiki.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        <div class="notice">
            <%if(status == 0){%>
                <a href="/create" class="btn btn-primary">Create</a>
            <%}%>
            <div>
                <h1><a href="/show?id=Door">Door</a></h1>
            </div>
            <div id="editor">
                <%- data %>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <% include ../partials/swal %>
    
    <script>
      $(document).ready(function(){
        $(window).bind('scroll', function() {
        var navHeight = $( window ).height() - 66;
          if ($(window).scrollTop() > navHeight) {
            $('.navbar').addClass('fixed');
          }
          else {
            $('.navbar').removeClass('fixed');
          }
        });
      });
    </script>
    <script>
      $(document).ready(function() {
        function setHeight() {
          windowHeight = $(window).innerHeight()-66;
          $('#blackpart, #whitepart').css('min-height', windowHeight);
        };
        setHeight();

        $(window).resize(function() {
          setHeight();
        });
      });
    </script>
    <script id="dsq-count-scr" src="//issl-wiki.disqus.com/count.js" async></script>
</body>
</html>
