<!DOCTYPE HTML>

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125748467-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125748467-1');
    </script>

    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Poiret+One|Raleway:700" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <%include ../partials/stylesheet %>
    <%include ../partials/outindexcss %>
    <% include ../partials/meta %>

</head>
<body>
    <% include ../partials/nav %>
    <div class="container">
        <div class="page-header">
            <h1>모든 글의 목록</h1>
        </div>
        <div class="changes">
        <div class="recent-changes">
            <!--동적으로 recent-changes control-->
            <!--recent-changes라는 테이블 (즉 title에 관계없이 시간순으로 정렬된 모든 위키)이 필요할듯.-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Contents</th>
                    </tr>
                </thead>
                <tbody>
                <%if(contents.length>0){%>

                    <%contents.forEach(function(item){%>
                    <%item.contents = item.contents.replace(/(<([^>]+)>)/gi, "");%>
                    <%item.contents = item.contents.replace(/&nbsp;/ig, "");%>
                    <tr>
                        <td class="number"><%=item.number%></td>
                        <td class="title"><a href="/show?id=<%=item.title%>"><%=item.title%></a></td>
                        <td class="contents"><%=item.contents%></td>
                    </tr>
                    <%})%>
                    <%} else {%>
                    <tr>
                        <td colspan="5">게시물이 없습니다.</td>
                    </tr>
                <%}%>
                </tbody>
            </table>

            </div>
            <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <%
                        for(var i=1; i<=pagination; i++){
                        %>
                        <li class="page-item"><a class="page-link" href="/list?page=<%=i%>"><%=i%></a></li>
                        <%}%>
                    </ul>
                </nav>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <% include ../partials/swal %>
    
    <script>
      $(document).ready(function(){
        $(window).bind('scroll', function() {
        var navHeight = $( window ).height() - 70;
          if ($(window).scrollTop() > navHeight) {
            $('nav').addClass('fixed');
          }
          else {
            $('nav').removeClass('fixed');
          }
        });
      });
    </script>

</body>
</html>
