<!DOCTYPE HTML>

<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Poiret+One|Raleway:700" rel="stylesheet">
    <%include ../partials/stylesheet %>
    <%include ../partials/outindexcss %>
    <% include ../partials/ck %>

</head>
<body>
    <% include ../partials/nav %>
    <div class="container">
        <div class="page-header border-bottom" style="margin-bottom: 30px">
            <h1><%- title %></h1>
        </div>
        <% var item= data%>
        <% item = item.replace(/<h2>/gi,'분할<h2>') %>
        <% var itemArr = item.split('분할')%>
        <% for(var i=0; i<itemArr.length; i++){%>
        <% if(itemArr[i]=='') continue;%>
        <button id="edit<%=i%>" class="btn float-right btn-light" onclick="edit('<%= i %>')" type="button" style="display:inline" >Edit</button>
        <button id="submit<%=i%>" class="btn float-right btn-light" onclick="submit('<%= i %>')" type="button" style="display:none">Submit</button>

        <div class="border border-white" style="margin-bottom: 30px" id="editor<%=i%>">
                <%-itemArr[i]%>
        </div>

        <%}%>
        <button id="delete" class="btn float-right btn-black" onclick="del()" type="button" >Delete</button>

<!-- edit 눌렀을 시 모달창 -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Password Checking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="checkPwEdit()">Check</button>
      </div>
    </div>
  </div>
</div>


<!-- delete 눌렀을 시 모달창 -->
<div class="modal fade" id="modalForDelete" tabindex="-1" role="dialog" aria-labelledby="modalForDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Password Checking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="col-form-label">Password:</label>
                    <input type="password" class="form-control" id="passwordForDelete">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onClick="checkPwDelete()">Check</button>
            </div>
        </div>
    </div>
</div>

</div>


    <script type="text/javascript">

    item = '<%-JSON.stringify(data)%>'
    item = item.replace(/<h2>/gi,'분할<h2>')
    itemArr = item.split('분할')


    var pinNumber = function(number){ // checkPwEdit num에 editor id의 숫자를 넘겨줌
        num = number;
    }

   function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    } // Parameter를 가져오는 함수

    var edit = function(num){
        var path = getParameterByName('id')
        pinNumber(num);
        var editorNum = 'editor'+num;
        var editor = document.getElementById(editorNum);
        $.ajax({
            url: '/existPw',
            type: 'post',
            data: {"path":path},
            dataType: 'JSON',
            success: function(result) //result객체 반환 되는거 봐야함.
            {
                if(result.status == 1){ // 만약 비번이 없다면
                    CKEDITOR.disableAutoInline = true;
                    CKEDITOR.replace(editorNum);
                    editor.contentEditable = true;
                    $("#submit"+num).css("display","inline");
                    $("#edit"+num).css("display","none");
                } else if(result.status == "change"){
                    alert("누군가가 변경 중이에요!");
                } // 누군가 변경 중
                 else { // 비번이 있다면
                    $('#passwordModal').modal();
                }
            }
         })
    };

    var checkPwEdit = function(){ // edit 클릭 시 비번 존재할 경우
        var password = $('#password').val();
        var path = getParameterByName('id')
        var editorNum = 'editor'+num;
        var editor = document.getElementById(editorNum);
        $.ajax({
            url: '/checkPw',
            type: 'post',
            data: {"path":path, "password":password},
            dataType: 'JSON',
            success: function(result)
             {
                if(result.status == 4){
                alert('password isn\'t right.');
                location.replace("/show?id="+path);
                } else {
                    $('#passwordModal').modal('hide');
                    CKEDITOR.disableAutoInline = true;
                    CKEDITOR.replace(editorNum);
                    editor.contentEditable = true;
                    $("#submit"+num).css("display","inline");
                    $("#edit"+num).css("display","none");
                }
            }
        })
    }

    var submit = function(num){
        $("#edit"+num).css("display","inline");
        $("#submit"+num).css("display","none");
        var editorNum = 'editor'+num;
        var editor = document.getElementById(editorNum);

        itemArr[num] = CKEDITOR.instances[editorNum].getData();
        var contents = itemArr.join('');
        if(contents[0]=='\"') // join을 안하는 경우 맨 앞이 "
            contents = contents.slice(1,-1); // join할 시 맨 앞,뒤에 ""제거

        var path = getParameterByName('id') // param의 id값 받기

        $.ajax({
            url: '/',
            type: 'post',
            data: {"contents": contents,"title":path, "path":path},
            dataType: 'JSON',
            success: function(result) //result객체 반환 되는거 봐야함.
            {
                console.log(result);
                if ( result.status == 1 ) {
                    CKEDITOR.instances[editorNum].destroy();
                    editor.contentEditable = false;
                }
            }
         })
    };

    var del = function(){
        if(confirm("Are u sure?") == true){
            var path = getParameterByName('id');
            $.ajax({
                url: '/existPw',
                type: 'post',
                data: {"path":path},
                dataType: 'JSON',
                success: function(result)
                {
                    console.log(result);
                    if(result.status == 1){ // 만약 비번이 없다면
                        $.ajax({
                            url: '/delete',
                            type: 'post',
                            data: {"title": path, "path":path},
                            dataType: 'JSON',
                            success: function(result)
                            {
                                if ( result.status == 1 ) {
                                    alert("Delete Complete.");
                                    location.replace("/");
                                }
                            }
                        })
                    } else { // 만약 비번이 있다면
                        $('#modalForDelete').modal();
                    }
                }
            })
        } else {
            alert("Good job. baby.");
        }
    };

    var checkPwDelete = function(){
        var password = $('#passwordForDelete').val();
        var path = getParameterByName('id')
        $.ajax({
            url: '/checkPw',
            type: 'post',
            data: {"path":path, "password":password},
            dataType: 'JSON',
            success: function(result)
             {
                if(result.status == 4){
                alert('password isn\'t right.');
                location.replace("/show?id="+path);
                } else {
                    $.ajax({
                        url: '/delete',
                        type: 'post',
                        data: {"title": path, "path":path},
                        dataType: 'JSON',
                        async:false,
                        success: function(result)
                        {
                            if ( result.status == 1 ) {
                                alert("Delete Complete.");
                                location.replace("/");
                            }
                        }
                    })
                }
            }
        })
    }
    </script>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script>
      $(document).ready(function(){
        $(window).bind('scroll', function() {
        var navHeight = $( window ).height() - 70;
          if ($(window).scrollTop() > navHeight) {
            $('nav').addClass('fixed');
          }
          else {
            $('nav').removeClass('fixed');
          }
        });
      });


    $(function(){ // 모달창 enter 누를 시 check버튼 클릭
        $('.modal').keypress(function(e){
            if(e.which == 13) {
                if(this.id == 'passwordModal')
                   checkPwEdit();
                else if(this.id == 'modalForDelete')
                    checkPwDelete();
            };
        })
    })
    </script>

</body>
</html>
